@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
} */

*{
  color: #fff;
}
body{
  background: #111;
}

#tasklist::-webkit-scrollbar{
  display: none;
}

#list::-webkit-scrollbar{
  display: none;
}